/* ---------- Full page styling ---------- */
/* #region */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

* {
	font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text_primary);
	scroll-behavior: smooth;
	font-weight: 500;
}

:root {
	--margin_s: 0.5vmin;
	--margin_m: 1vmin;
	--margin_l: 1vmin;

	/* Text sizes, large to small */
	--text_size_0: 1.9vw;
	--text_size_1: 1.6vw;
	--text_size_2: 1.2vw;
	--text_size_3: 0.9vw;
	--text_size_4: 0.7vw;
}

:root[data-theme="light"] {
	--text_primary: #000000;
	--text_error: #B00020;
	--text_disabled: rgba(0, 0, 0, 0.38);

	--background_elevation_0: #ffffff;
	--background_elevation_1: rgba(0, 0, 0, 0.05);
	--background_elevation_2: rgba(0, 0, 0, 0.07);
	--background_elevation_3: rgba(0, 0, 0, 0.08);
	--background_elevation_4: rgba(0, 0, 0, 0.09);
	--background_elevation_5: rgba(0, 0, 0, 0.11);
	--background_elevation_6: rgba(0, 0, 0, 0.12);
	--background_elevation_7: rgba(0, 0, 0, 0.14);
	--background_elevation_8: rgba(0, 0, 0, 0.15);
	--background_elevation_9: rgba(0, 0, 0, 0.16);

	--black_to_text: invert(100%);
}

:root[data-theme="dark"] {
	--text_primary: #bdbdbd;
	--text_error: #B00020;
	--text_disabled: rgba(189, 189, 189, 0.38);

	--background_elevation_0: #121212;
	--background_elevation_1: rgba(255, 255, 255, 0.05);
	--background_elevation_2: rgba(255, 255, 255, 0.07);
	--background_elevation_3: rgba(255, 255, 255, 0.08);
	--background_elevation_4: rgba(255, 255, 255, 0.09);
	--background_elevation_5: rgba(255, 255, 255, 0.11);
	--background_elevation_6: rgba(255, 255, 255, 0.12);
	--background_elevation_7: rgba(255, 255, 255, 0.14);
	--background_elevation_8: rgba(255, 255, 255, 0.15);
	--background_elevation_9: rgba(255, 255, 255, 0.16);

	--black_to_text: invert(74%);
}

body {
	overflow: hidden;
	margin: var(--margin_m);
	background-color: var(--background_elevation_0);
}

hr {
	border: 1px solid var(--text_disabled);
	width: 99%;
}
/* #endregion */



/* ---------- Fullscreen container ---------- */
/* #region */
#fullscreen_container {
	overflow: hidden;
	width: calc(100vw - (2 * var(--margin_m)));
	height: calc(100vh - (2 * var(--margin_m)));
	display: flex;
	align-content: space-between;
}
/* #endregion */



/* ---------- Navbar ---------- */
/* #region */
#navbar_container {
	width: 25%;
	padding: var(--margin_m);
	overflow: hidden scroll;
	display: flex;
	flex-direction: column;
	background-color: var(--background_elevation_1);
}

#navbar_top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#navbar_logo_short {
	font-size: var(--text_size_0);
	font-weight: 800;
}

#navbar_logo_long {
	font-size: var(--text_size_4);
}

/* #navbar_center {} */

.navbar_item {
	border: 2px solid var(--text_primary);
}

.navbar_icon {
	width: var(--text_size_1);
	filter: var(--black_to_text);
	padding: var(--margin_s);
	border-right: 2px solid var(--text_primary);
}

.navbar_item_text {
	font-size: var(--text_size_2);
	height: var(--text_size_1);
	margin: auto 0;
}
/* #endregion */



/* ---------- Content ---------- */
/* #region */
#content_container {
	width: 50%;
	margin: 0 var(--margin_m);
	overflow-y: scroll;
	background-color: var(--background_elevation_1);
}
/* #endregion */



/* ---------- Feed ---------- */
/* #region */
#feed_container {
	width: 25%;
	overflow-y: scroll;
	background-color: var(--background_elevation_1);
}
/* #endregion */



/* ---------- Screen width responsiveness ---------- */
/* #region */
/* Narrow screen, hide feed and make it a selectable option */
/* @media (max-aspect-ratio: 1.35) {
} */

/* Mobile screen, additionally hide the navbar */
/* @media (max-aspect-ratio: 0.9) {
} */
/* #endregion */
