/* ---------- Full page styling ---------- */
/* #region */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

* {
	font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text_primary);
	scroll-behavior: smooth;
	font-weight: 500;
}

:root {
	/* Gets set higher when switching layouts */
	--size_multiplier: 1;

	/* Margins, spacing, misc stuff */
	--margin_s: calc(0.5vmin * var(--size_multiplier));
	--margin_m: calc(1vmin * var(--size_multiplier));
	--margin_l: calc(2vmin * var(--size_multiplier));
	--border_thickness: calc(0.33vmin * var(--size_multiplier));

	/* Text sizes, large to small */
	--text_size_0: calc(1.9vw * var(--size_multiplier));
	--text_size_1: calc(1.6vw * var(--size_multiplier));
	--text_size_2: calc(1.2vw * var(--size_multiplier));
	--text_size_3: calc(0.9vw * var(--size_multiplier));
	--text_size_4: calc(0.7vw * var(--size_multiplier));
}

:root[data-theme="light"] {
	--text_primary: #000000;
	--text_error: #B00020;
	--text_disabled: rgba(0, 0, 0, 0.38);

	--background_elevation_0: #ffffff;
	--background_elevation_1: #f2f2f2;
	--background_elevation_2: #ededed;
	--background_elevation_3: #ebebeb;
	--background_elevation_4: #e8e8e8;
	--background_elevation_5: #e3e3e3;
	--background_elevation_6: #e0e0e0;
	--background_elevation_7: #dbdbdb;
	--background_elevation_8: #d9d9d9;
	--background_elevation_9: #d6d6d6;

	--black_to_text: invert(0%);
}

:root[data-theme="dark"] {
	--text_primary: #bdbdbd;
	--text_error: #B00020;
	--text_disabled: rgba(189, 189, 189, 0.38);

	--background_elevation_0: #121212;
	--background_elevation_1: #1e1e1e;
	--background_elevation_2: #232323;
	--background_elevation_3: #252525;
	--background_elevation_4: #272727;
	--background_elevation_5: #2c2c2c;
	--background_elevation_6: #2f2f2f;
	--background_elevation_7: #333333;
	--background_elevation_8: #353535;
	--background_elevation_9: #383838;

	--black_to_text: invert(74%);
}

body {
	overflow: hidden;
	margin: var(--margin_m);
	background-color: var(--background_elevation_0);
}

hr {
	border: calc(var(--border_thickness) / 2) solid var(--text_disabled);
	width: 99%;
}

.proximity_glow_effect {
	background-color: var(--background_elevation_4);
}

@media (pointer: fine) {
	.proximity_glow_effect {
		background-image: radial-gradient(circle at var(--x) var(--y), var(--background_elevation_9), var(--background_elevation_4) 20vw);
	}
}

@media not (pointer: fine) {
	.proximity_glow_effect {
		background-color: var(--text_disabled);
	}
}

.hidden_when_landscape {
	display: none;
}

.logo {
	cursor: pointer;
	user-select: none;
}
/* #endregion */



/* ---------- Fullscreen container ---------- */
/* #region */
#fullscreen_container {
	overflow: hidden;
	width: calc(100vw - (2 * var(--margin_m)));
	height: calc(100vh - (2 * var(--margin_m)));
	display: flex;
	align-content: space-between;
}
/* #endregion */



/* ---------- Navbar ---------- */
/* #region */
#navbar_container {
	width: 23%;
	padding: var(--margin_m);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: var(--background_elevation_1);
}

.navbar_top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar_logo_short {
	font-size: var(--text_size_0);
	font-weight: 800;
}

.navbar_logo_long {
	font-size: var(--text_size_4);
}

#navbar_center {
	height: 100%;
	overflow: hidden scroll;
}

.navbar_item_container {
	padding: var(--border_thickness);
	margin-top: var(--margin_m);
	cursor: pointer;
	user-select: none;
}

.navbar_item {
	display: flex;
	flex-direction: row;
	background-color: var(--background_elevation_1);
	transition: opacity .1s;
}

.proximity_glow_effect:hover .navbar_item {
	opacity: 0.8;
	transition: opacity .1s;
}

.navbar_icon {
	width: var(--text_size_1);
	height: var(--text_size_1);
	filter: var(--black_to_text);
	padding: var(--margin_s);
}

.navbar_item_text {
	font-size: var(--text_size_2);
	margin: auto 0 auto var(--margin_s);
}

#navbar_bottom {
	text-align: center;
	font-size: var(--text_size_4);
	color: var(--text_disabled);
}
/* #endregion */



/* ---------- Content ---------- */
/* #region */
#content_container {
	width: 54%;
	height: 100%;
	margin: 0 var(--margin_m);
	display: flex;
	flex-direction: column;
}

#portrait_above_content {
	display: none;
	flex-direction: row;
	align-items: center;
	padding: var(--margin_m);
	margin: 0 0 var(--margin_m) 0;
	background-color: var(--background_elevation_1);
}

.portrait_navbar_toggle {
	width: calc(var(--text_size_0) * 2);
	height: calc(var(--text_size_0) * 2);
	filter: var(--black_to_text);
	position: absolute;
	margin-left: var(--margin_m);
	cursor: pointer;
}

#portrait_logo {
	text-align: center;
	width: 100%;
}

#content {
	height: 100%;
	overflow-y: scroll;
	background-color: var(--background_elevation_1);
}
/* #endregion */



/* ---------- Feed ---------- */
/* #region */
#feed_container {
	width: 23%;
	overflow-y: scroll;
	background-color: var(--background_elevation_1);
}
/* #endregion */



/* ---------- Screen width responsiveness ---------- */
/* #region */
/* Narrow screen, hide feed and make it a selectable option */
@media (max-aspect-ratio: 1.35) {
	/* Increase scaling */
	:root {
		--size_multiplier: 1.4;
	}

	/* Hide dedicated feed portion */
	#feed_container {
		display: none;
	}

	/* Increase navbar width */
	#navbar_container {
		width: 30%;
	}

	/* Increase content width */
	#content_container {
		width: 70%;
		margin: 0 0 0 var(--margin_m);
	}

	/* Show feed button in navbar */
	.hidden_when_landscape {
		display: block;
	}
}

/* Mobile screen, additionally hide the navbar */
@media (max-aspect-ratio: 0.9) {
	/* Increase scaling */
	:root {
		--size_multiplier: 2.9;
	}

	/* Hide navbar */
	#navbar_container {
		position: fixed;
		transform: translateX(-100vw);
		width: calc(100vw - (4 * var(--margin_m)));
		height: calc(100vh - (4 * var(--margin_m)));
	}

	/* Increase content width */
	#content_container {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	/* Show portrait header above content */
	#portrait_above_content {
		display: flex;
	}

	/* Increase logo text size */
	.navbar_logo_short {
		font-size: calc(var(--text_size_0) * 1.5);
	}

	/* Increase logo text size */
	.navbar_logo_long {
		font-size: var(--text_size_2);
	}

	/* Showing navbar on portrait only */
	.show_navbar_portrait {
		transform: translateX(0)!important;
	}

	/* Fat-finger friendly navbar buttons */
	.navbar_icon {
		width: calc(var(--text_size_0) * 2);
		height: calc(var(--text_size_0) * 2);
	}
	.navbar_item_text {
		font-size: var(--text_size_1);
	}
}
/* #endregion */
